[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
aiohttp = "*"
backoff = "*"
orjson = "*"
uvicorn = "*"
bson = "*"
motor = "*"
sentry-sdk = "*"
pyjwt = "*"

[dev-packages]
pytest = "*"
pytest-cases = "*"
pytest-asyncio = "*"
python-logstash = "*"

[requires]
python_version = "3.9"
