[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
aiohttp = "*"
backoff = "*"
orjson = "*"
uvicorn = "*"
bson = "*"
motor = "*"

[dev-packages]
pytest = "*"
pytest-cases = "*"
pytest-asyncio = "*"

[requires]
python_version = "3.9"
